.verde1 {
    background-color: lightgreen;
}

.verde2 {
    background-color: green;
}

.verde3 {
    background-color: darkgreen;
}

.vermelho1 {
    background-color: rgb(229, 65, 65);
}

.vermelho2 {
    background-color: red;
}

.vermelho3 {
    background-color: darkred;
}