html{
    background-color: aqua;
    background-image: url("gato.jpg");
    background-size: 180px;
    background-repeat: no-repeat;
    min-height: 90vh;
    background-position: right bottom;
}

.sec1{
    background-color: red;
}

.sec2{
    background-color: lightgray;
    background-size: 45px;
    background-image: url("gato.png");
    color: blue;
}

.sec3{
    background-color: rgba(0, 255, 10, 0.5);
    
}