html {
    background-color: lightblue;
}

table, td {
    border: solid 1px red;
}

td {
    padding: 30px 60px;
    text-align: center;
}

p {
    color:red;
}

.legenda td {
    padding: 5px;
}

.linha1 {
    background-color: green;
}

.linha2 {
    background-color: red;
}

.linha3 {
    background-color: blue;
}

.linha4 {
    background-color: yellow;
}