.principal {
    background-color: #ffedc9;
    color: #a15129;
}

.grifo {
    background-color: yellow;
    color: black;
}

.principal ol p {
    text-wrap: unset;
}

.imagens {
    display: flex;
    justify-content: space-between;
}

img {
    width: 480px;
    height: 280px;
}
